USE [master]
GO
/****** Object:  Database [clinica]    Script Date: 11/11/2019 20:33:09 ******/
CREATE DATABASE [clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\clinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [clinica]
GO
/****** Object:  Table [dbo].[PACIENTES]    Script Date: 11/11/2019 20:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTES](
	[CODIGO] [smallint] NOT NULL,
	[NOMBRE] [nvarchar](30) NULL,
	[DIRECCION] [nvarchar](20) NULL,
	[CIUDAD] [nvarchar](15) NULL,
	[TELEFONO] [nvarchar](10) NULL,
	[DIABETICO] [bit] NOT NULL,
	[FECHANAC] [date] NULL,
	[TURNO] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VISITAS]    Script Date: 11/11/2019 20:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITAS](
	[NUMVISITA] [int] NOT NULL,
	[CODPACIENTE] [smallint] NULL,
	[FECHA] [date] NULL,
	[ENFERMEDAD] [nvarchar](25) NULL,
	[IMPORTE] [int] NULL,
	[PORCENTAJEPAGO] [smallint] NULL,
	[PROXVISITA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMVISITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PACIENTES] ([CODIGO], [NOMBRE], [DIRECCION], [CIUDAD], [TELEFONO], [DIABETICO], [FECHANAC], [TURNO]) VALUES (30001, N'Jose Gonzalez', N'Paseo Agran', N'ALICANTE', N'856262515', 0, CAST(N'1990-08-10' AS Date), 1)
INSERT [dbo].[PACIENTES] ([CODIGO], [NOMBRE], [DIRECCION], [CIUDAD], [TELEFONO], [DIABETICO], [FECHANAC], [TURNO]) VALUES (30003, N'Gabriel García', N'Constitució n17 4B', N'SAN JUAN', N'744671599', 0, CAST(N'1967-03-13' AS Date), 3)
INSERT [dbo].[PACIENTES] ([CODIGO], [NOMBRE], [DIRECCION], [CIUDAD], [TELEFONO], [DIABETICO], [FECHANAC], [TURNO]) VALUES (30004, N'Ana Tuent', N' C. Comercial Flitam', N'SAN JUAN', N'680090786', 0, CAST(N'1989-04-14' AS Date), 1)
INSERT [dbo].[VISITAS] ([NUMVISITA], [CODPACIENTE], [FECHA], [ENFERMEDAD], [IMPORTE], [PORCENTAJEPAGO], [PROXVISITA]) VALUES (1, 30001, CAST(N'2019-12-09' AS Date), N'Úlcera', 50, 50, CAST(N'2019-12-11' AS Date))
INSERT [dbo].[VISITAS] ([NUMVISITA], [CODPACIENTE], [FECHA], [ENFERMEDAD], [IMPORTE], [PORCENTAJEPAGO], [PROXVISITA]) VALUES (2, 30001, CAST(N'2019-02-15' AS Date), N'Migrañas', 50, 25, CAST(N'2019-05-15' AS Date))
INSERT [dbo].[VISITAS] ([NUMVISITA], [CODPACIENTE], [FECHA], [ENFERMEDAD], [IMPORTE], [PORCENTAJEPAGO], [PROXVISITA]) VALUES (3, 30002, CAST(N'2019-06-19' AS Date), N'Cistitis', 40, 60, CAST(N'2019-07-19' AS Date))
/****** Object:  StoredProcedure [dbo].[VisitasPaciente]    Script Date: 11/11/2019 20:33:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE   [dbo].[VisitasPaciente] @codigopaciente SMALLINT, @Numvisitas INT OUTPUT
AS
    SELECT @Numvisitas = COUNT(*)  
    FROM visitas 
    WHERE codpaciente = @codigopaciente
GO
USE [master]
GO
