USE [master]
GO
/****** Object:  Database [videoclub]    Script Date: 11/11/2019 20:33:38 ******/
CREATE DATABASE [videoclub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'videoclub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\videoclub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'videoclub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\videoclub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [videoclub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [videoclub]
GO
/****** Object:  Table [dbo].[ALQUILER]    Script Date: 11/11/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALQUILER](
	[CODIGO_SOCIO] [int] NOT NULL,
	[CODIGO_STOCK] [int] NOT NULL,
	[FECHA_SALIDA] [datetime] NOT NULL,
	[FECHA_DEVOLUCION] [datetime] NOT NULL,
	[ESTADO] [smallint] NULL,
	[CALIFICACION] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO_SOCIO] ASC,
	[CODIGO_STOCK] ASC,
	[FECHA_SALIDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 11/11/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CODIGO] [int] NOT NULL,
	[NOMBRE] [nvarchar](15) NOT NULL,
	[DESCRIPCION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 11/11/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[CODIGO] [int] NOT NULL,
	[TITULO] [nvarchar](40) NULL,
	[CODIGO_CATEGORIA] [int] NULL,
	[COMPAÑIA] [nvarchar](15) NULL,
	[DURACION] [smallint] NULL,
	[PRECIO_COMPRA] [money] NULL,
	[PRECIO_ALQUILER] [money] NULL,
	[MAXIMO_DIAS] [smallint] NULL,
	[OFERTA] [real] NULL,
	[COMENTARIO] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOCIOS]    Script Date: 11/11/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIOS](
	[CODIGO] [int] NOT NULL,
	[DNI] [nvarchar](9) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
	[APELLIDO] [nvarchar](40) NOT NULL,
	[TELEFONO] [nvarchar](10) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[CLIENTEVIP] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 11/11/2019 20:33:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[CODIGO] [int] NOT NULL,
	[CODIGO_PELICULA] [int] NULL,
	[FORMATO] [nvarchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ALQUILER] ([CODIGO_SOCIO], [CODIGO_STOCK], [FECHA_SALIDA], [FECHA_DEVOLUCION], [ESTADO], [CALIFICACION]) VALUES (1, 2, CAST(N'2019-10-03T00:00:00.000' AS DateTime), CAST(N'2019-10-08T00:00:00.000' AS DateTime), 1, 7)
INSERT [dbo].[ALQUILER] ([CODIGO_SOCIO], [CODIGO_STOCK], [FECHA_SALIDA], [FECHA_DEVOLUCION], [ESTADO], [CALIFICACION]) VALUES (1, 17, CAST(N'2018-07-25T00:00:00.000' AS DateTime), CAST(N'2018-08-10T00:00:00.000' AS DateTime), 2, 7)
INSERT [dbo].[ALQUILER] ([CODIGO_SOCIO], [CODIGO_STOCK], [FECHA_SALIDA], [FECHA_DEVOLUCION], [ESTADO], [CALIFICACION]) VALUES (1, 35, CAST(N'2018-09-12T00:00:00.000' AS DateTime), CAST(N'2018-09-19T00:00:00.000' AS DateTime), 2, 8)
INSERT [dbo].[CATEGORIA] ([CODIGO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Terror', N'Películas de terror')
INSERT [dbo].[CATEGORIA] ([CODIGO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Comedia', N'Películas de humor')
INSERT [dbo].[CATEGORIA] ([CODIGO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Aventuras', N'Películas de aventuras')
INSERT [dbo].[PELICULAS] ([CODIGO], [TITULO], [CODIGO_CATEGORIA], [COMPAÑIA], [DURACION], [PRECIO_COMPRA], [PRECIO_ALQUILER], [MAXIMO_DIAS], [OFERTA], [COMENTARIO]) VALUES (2, N'El padrino', 7, N'Paramount Pic', 175, 3.0000, 1.5000, 5, NULL, NULL)
INSERT [dbo].[PELICULAS] ([CODIGO], [TITULO], [CODIGO_CATEGORIA], [COMPAÑIA], [DURACION], [PRECIO_COMPRA], [PRECIO_ALQUILER], [MAXIMO_DIAS], [OFERTA], [COMENTARIO]) VALUES (3, N'El irlandés', 10, N'Netflix', 210, 4.5000, 2.0000, 4, NULL, NULL)
INSERT [dbo].[PELICULAS] ([CODIGO], [TITULO], [CODIGO_CATEGORIA], [COMPAÑIA], [DURACION], [PRECIO_COMPRA], [PRECIO_ALQUILER], [MAXIMO_DIAS], [OFERTA], [COMENTARIO]) VALUES (4, N'El padrino. Parte II', 7, N'Paramount Pic', 200, 3.0000, 1.5000, 5, NULL, NULL)
INSERT [dbo].[SOCIOS] ([CODIGO], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [FECHA_NACIMIENTO], [CLIENTEVIP]) VALUES (1, N'12345678A', N'Jose', N'Gonzalez', N'856262515', CAST(N'1990-08-10T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[SOCIOS] ([CODIGO], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [FECHA_NACIMIENTO], [CLIENTEVIP]) VALUES (2, N'45464564B', N'Federico', N'Rodriguez', N'843846078', CAST(N'1965-01-10T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[SOCIOS] ([CODIGO], [DNI], [NOMBRE], [APELLIDO], [TELEFONO], [FECHA_NACIMIENTO], [CLIENTEVIP]) VALUES (3, N'21687966D', N'Gabriel', N'García', N'744671599', CAST(N'1967-03-13T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[STOCK] ([CODIGO], [CODIGO_PELICULA], [FORMATO]) VALUES (2, 2, N'VHS')
INSERT [dbo].[STOCK] ([CODIGO], [CODIGO_PELICULA], [FORMATO]) VALUES (3, 3, N'VHS')
INSERT [dbo].[STOCK] ([CODIGO], [CODIGO_PELICULA], [FORMATO]) VALUES (4, 4, N'VHS')
ALTER TABLE [dbo].[ALQUILER]  WITH CHECK ADD  CONSTRAINT [fk_alquiler_socio] FOREIGN KEY([CODIGO_SOCIO])
REFERENCES [dbo].[SOCIOS] ([CODIGO])
GO
ALTER TABLE [dbo].[ALQUILER] CHECK CONSTRAINT [fk_alquiler_socio]
GO
ALTER TABLE [dbo].[ALQUILER]  WITH CHECK ADD  CONSTRAINT [fk_alquiler_stock] FOREIGN KEY([CODIGO_STOCK])
REFERENCES [dbo].[STOCK] ([CODIGO])
GO
ALTER TABLE [dbo].[ALQUILER] CHECK CONSTRAINT [fk_alquiler_stock]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [fk_categoria] FOREIGN KEY([CODIGO_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([CODIGO])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [fk_categoria]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [fk_stock_pelicula] FOREIGN KEY([CODIGO_PELICULA])
REFERENCES [dbo].[PELICULAS] ([CODIGO])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [fk_stock_pelicula]
GO
USE [master]
GO
